---
import Footer from "../components/footer.astro"
import Header from "../components/header.astro"
import Tags from "../components/tags.astro"

import stylesUrl from "../sass/index.scss?url"
import '@fontsource-variable/inter';
---
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, user-scalable=no" />
    <link rel="preload" href={stylesUrl} as="style">
    <link rel="stylesheet" href={stylesUrl}>
  </head>
  <body>
    <div class="container">
      <!-- <div><Header /></div> -->
      <div class="home">
        <div class="home__header">
          <span class="home__name-header"> Rafaela Silva </span>
          <div class="home__tags">
            <div>
              <Tags text='âœðŸ» 5 years of experience' outlined={false}/>
            </div>
            <div>
              <Tags text='ðŸŒ Based in Portugal' outlined={false} />
            </div>
          </div>
        </div>
        <div class="home__top">
          <div class="home__presentation-top">
            <div class="home__introduction">
              <div>
                <span class="home__name"> Rafaela Silva </span>
                <span class="home__name"> âœ± </span>
              </div>
              <span class="home__text">
                UX/UI Designer and Frontend developer <br />
                focused on
                <span class="home__text-highlight"> health </span> and
                <span class="home__text-highlight"> sustainability </span>
                <br />
                projects and innovation.
              </span>
            </div>
          </div>
          <div class="home__presentation-bottom">
            <div class="home__tags">
              <div>
                <Tags text='Figma' outlined={true} />
              </div>
              <div>
                <Tags text='HTML' outlined={true} />
              </div>
              <div>
                <Tags text='CSS/SASS' outlined={true} />
              </div>
              <div>
                <Tags text='Tailwind' outlined={true} />
              </div>
              <div>
                <Tags text='React' outlined={true} />
              </div>
              <div>
                <Tags text='Ruby on Rails' outlined={true} />
              </div>
              <div>
                <Tags text='Git' outlined={true} />
              </div>
              <div>
                <Tags text='Leadership' outlined={true} />
              </div>
            </div>
          </div>
        </div>
        <!-- <div class="home__bottom"> -->
        <!-- <div class="home__section-1">
            <img src="/images/about.jpg" alt="about" />
            <span class="home__section-1__img-text"> About me </span>
          </div> -->
        <!-- <div class="home__section-2" onmouseover="moveElement()">
            <span
              >'Through design, I aspire to create a world where sustainability
              is not just a buzzword, <br />
              but a way of life - where user experience and responsibility go
              hand in hand.'
            </span> -->
        <!-- <img src="/images/handshake.svg" alt="emoji handshake" /> -->
        <!-- <img
              class="home__section-2__bee-img"
              id="sectionTwoImage"
              src="/images/bee.svg"
              alt="emoji bee"
            /> -->
        <!-- </div> -->
        <!-- <div class="home__section-3" onmouseover="changeText()">
            <div class="home__section-3__container">
              <span id="sectionThreeTitle" class="home__section-3__title">
                Focus:
              </span>
              <span id="sectionThreeText1" class="home__section-3__text">
                Mobile and Web Design
              </span> -->
        <!-- <span id="sectionThreeText2" class="home__section-3__text">
                Product Design
              </span> -->
        <!-- <span id="sectionThreeText3" class="home__section-3__text">
                Interaction Design
              </span> -->
        <!-- <span id="sectionThreeText3" class="home__section-3__text">
                Transition Design
              </span>
              <span id="sectionThreeText3" class="home__section-3__text">
                Accessibility
              </span>
            </div>
          </div> -->
        <!-- <div class="home__section-4">
            <div class="home__section-4__circle"></div>
            <div class="home__section-4__oval"></div>
            <span class="home__section-4__title"> 7.63.1 </span>
            <span class="home__section-4__text"> Contrast Ratio </span>
          </div> -->
        <!-- </div> -->
      </div>
      <Footer />
    </div>
  </body>
</html>

<!-- <script>
  function moveElement() {
    const sectionTwoImage = document.getElementById("sectionTwoImage");

    sectionTwoImage.style.transition = "ease-in-out 0.6s";
    sectionTwoImage.style.top = "124px";
    sectionTwoImage.style.left = "240px";
  }

  function changeText() {
    const sectionThreeTitle = document.getElementById("sectionThreeTitle");
    const sectionThreeText1 = document.getElementById("sectionThreeText1");
    const sectionThreeText2 = document.getElementById("sectionThreeText2");
    const sectionThreeText3 = document.getElementById("sectionThreeText3");

    sectionThreeTitle.style.content = "Passions";
    sectionThreeText1.style.content = "Health";
    sectionThreeText2.style.content = "Sustainability";
    sectionThreeText3.style.content = "Transition Design";
  }
</script> -->
